@model Hospisim.Models.Prescricao

@{
    ViewData["Title"] = "Detalhes da Prescrição";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Prescrição para: @Model.Atendimento.Paciente.NomeCompleto</h4>
    <p>Realizada no atendimento de @Model.Atendimento.DataHora.ToString("dd/MM/yyyy HH:mm")</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Medicamento)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Medicamento)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Dosagem)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Dosagem)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Frequencia)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Frequencia)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.StatusPrescricao)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.StatusPrescricao)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Profissional)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Profissional.NomeCompleto)</dd>
    </dl>
</div>
<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> |
    <a asp-controller="Atendimentos" asp-action="Details" asp-route-id="@Model.AtendimentoId" class="btn btn-secondary">Voltar ao Atendimento</a>
</div>