@model IEnumerable<Hospisim.Models.Internacao>

@{
    ViewData["Title"] = "Lista de Internações";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Internacoes" asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" name="SearchString" class="form-control" placeholder="Buscar por Nome ou CPF do Paciente..." value="@ViewData["CurrentFilter"]" />
        <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
        <a asp-action="Index" class="btn btn-outline-secondary">Limpar</a>
    </div>
</form>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Paciente</th>
            <th>Data de Entrada</th>
            <th>Setor</th>
            <th>Leito</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Atendimento.Paciente.NomeCompleto)</td>
                <td>@item.DataEntrada.ToString("dd/MM/yyyy")</td>
                <td>@Html.DisplayFor(modelItem => item.Setor)</td>
                <td>@Html.DisplayFor(modelItem => item.Leito)</td>
                <td>@Html.DisplayFor(modelItem => item.StatusInternacao)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm" title="Editar"><i class="fa-solid fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm" title="Detalhes"><i class="fa-solid fa-circle-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm" title="Deletar"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>